extends ../layouts/main-layout.pug

block content
  main.page-main
    h1.page-content__title Select your quest
    //- TODO: add filters
    ul.quest-list
      each quest in quests
        li.quest-list__item
          a.quest-list__details-link(href="/quests/" + quest._id) 
            img.quest-list__img(src=quest.previewImg, alt="")
          h3.quest-list__title #{quest.title}
          if role === "user"
            div.quest-list__wrapper
              span.quest-list__category #{quest.genre}
              div.quest-list__complexity
                each star, index in quest.complexity
                  span.quest-list__complexity-star.quest-list__complexity-star--filled
                    img(src=star ? "/img/star-filled.svg" : "/img/star.svg", alt="")
              div.quest-list__gamers
                span gamers: 
                span.quest-list__gamers-min #{quest.gamers.min}
                span  - 
                span.quest-list__gamers-max #{quest.gamers.max}
              if isAuthorized
                form(action="/cart", method="post") 
                  input(type="hidden" name="id" value=quest._id)
                  input(type="hidden", name="_csrf" value=csrfToken)
                  button.quest-list__btn(type="submit") +
          else if role === "admin"
            if isAuthorized
              div.quest-list__wrapper
                a(href=`admin/edit-quest/${quest._id}?edit=true`).quest-list__btn Edit
                form(action="/admin/delete" method="POST") 
                  input(type="hidden" name="id" value=quest._id)
                  input(type="hidden", name="_csrf" value=csrfToken)
                  button(type="submit").quest-list__btn Delete
