extends ../layouts/main-layout.pug

block content
  main.page-main.cart 
    h1.page-content__title Your cart 
    if quests.length 
      ul.cart-list
        each quest in quests 
          li.cart-list__item 
            a.cart-list__link(href="/quests/" + quest.questId._id) #{quest.questId.title}
            span #{quest.questId.price} ₽
            span.cart-list__quantity #{quest.quantity}
            form(action="/cart-delete-item", method="post")
              input(type="hidden" name="id" value=quest.questId._id)
              button.quest-list__btn(type="submit") Delete 
      form.cart-total(action="/checkout" method="POST")
        span Total:&nbsp;
        span #{total} ₽
        button.cart__checkout-btn(type="submit") Checkout
    else
      p Nothing in cart yet... 
